---
layout: base
data: "Krishna"
---

<!-- {% include header.html type="page" %} -->

<div class="container-md" role="main">
    <div class="datayaml">

      <!-- {% for member in site.data.team %}
      {{ member.name }}
      {% endfor %} -->

      <div class='js-data-load'>
        <h1> List of Teams Name and Email data:</h1>
      </div>


      <!-- {% if site.data.team %}
        <h1> List of Teams Name and Email data:</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            {% for member in site.data.team %}
              <tr>
                <th scope="row">{{ member.name }}</th>
                <td scope="row">{{ member.email | replace: " [at] ", "@" | replace: " [dot] ", "."}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
     {% endif %} -->

    </div>
</div>
